.vs/CopilotSnapshots/3E32AD8307881B4EA372C04D21181915/93483F0B9E54AE4C856E910178546065/34DC569699CCDCAADE7253B7779CC6DC
.vs/CopilotSnapshots/3E32AD8307881B4EA372C04D21181915/93483F0B9E54AE4C856E910178546065/3C13A40C6B06E221C98C93258B39BBA7
.vs/CopilotSnapshots/3E32AD8307881B4EA372C04D21181915/93483F0B9E54AE4C856E910178546065/8616D1DF9746CB24E45242C4EEC2F04C
.vs/CopilotSnapshots/3E32AD8307881B4EA372C04D21181915/state.mpack
.vs/Entanglement-Redux/copilot-chat/8bf2d7d5/sessions/83ad323e-8807-4e1b-a372-c04d21181915
.vs/Entanglement-Redux/CopilotIndices/18.3.508.13148/CodeChunks.db
.vs/Entanglement-Redux/CopilotIndices/18.3.508.13148/CodeChunks.db-shm
.vs/Entanglement-Redux/CopilotIndices/18.3.508.13148/CodeChunks.db-wal
.vs/Entanglement-Redux/CopilotIndices/18.3.508.13148/SemanticSymbols.db
.vs/Entanglement-Redux/CopilotIndices/18.3.508.13148/SemanticSymbols.db-shm
.vs/Entanglement-Redux/CopilotIndices/18.3.508.13148/SemanticSymbols.db-wal
.vs/Entanglement-Redux/FileContentIndex/4c6f18a8-dcde-4c6a-8a0b-58156a6c40ee.vsidx
.vs/Entanglement-Redux/v18/.suo
.vs/Entanglement-Redux/v18/DocumentLayout.json
Entanglement/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Entanglement/obj/Debug/Entanglement.csproj.AssemblyReference.cache
Entanglement/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Entanglement/obj/Debug/Entanglement.csproj.AssemblyReference.cache
.vs/Entanglement-Redux/FileContentIndex/8bd00f3d-2ed3-45bb-9000-3689b64927c3.vsidx
.vs/Entanglement-Redux/FileContentIndex/192587af-b182-44d7-9acb-86be27ec95d3.vsidx
Entanglement/obj/Release/Entanglement.pdb
Entanglement/obj/Release/Entanglement.dll
Entanglement/obj/Release/Entanglement.csproj.FileListAbsolute.txt
Entanglement/obj/Release/Entanglement.csproj.CoreCompileInputs.cache
Entanglement/obj/Release/Entanglement.csproj.AssemblyReference.cache
Entanglement/obj/Release/Entangle.DFA37320.Up2Date
Entanglement/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
bin/Release/TextMeshPro-1.0.55.2017.2.0b12.dll
bin/Release/Entanglement.pdb
bin/Release/0Harmony.dll
.vs/Entanglement-Redux/v18/DocumentLayout.backup.json
.vs/Entanglement-Redux/FileContentIndex/2d1bb9a3-402f-4f07-b796-b32421f2438d.vsidx
