.vs/CopilotSnapshots/3E32AD8307881B4EA372C04D21181915/93483F0B9E54AE4C856E910178546065/34DC569699CCDCAADE7253B7779CC6DC
.vs/CopilotSnapshots/3E32AD8307881B4EA372C04D21181915/93483F0B9E54AE4C856E910178546065/3C13A40C6B06E221C98C93258B39BBA7
.vs/CopilotSnapshots/3E32AD8307881B4EA372C04D21181915/93483F0B9E54AE4C856E910178546065/8616D1DF9746CB24E45242C4EEC2F04C
.vs/CopilotSnapshots/3E32AD8307881B4EA372C04D21181915/state.mpack
.vs/Entanglement-Redux/copilot-chat/8bf2d7d5/sessions/83ad323e-8807-4e1b-a372-c04d21181915
.vs/Entanglement-Redux/CopilotIndices/18.3.508.13148/CodeChunks.db
.vs/Entanglement-Redux/CopilotIndices/18.3.508.13148/CodeChunks.db-shm
.vs/Entanglement-Redux/CopilotIndices/18.3.508.13148/CodeChunks.db-wal
.vs/Entanglement-Redux/CopilotIndices/18.3.508.13148/SemanticSymbols.db
.vs/Entanglement-Redux/CopilotIndices/18.3.508.13148/SemanticSymbols.db-shm
.vs/Entanglement-Redux/CopilotIndices/18.3.508.13148/SemanticSymbols.db-wal
.vs/Entanglement-Redux/FileContentIndex/4c6f18a8-dcde-4c6a-8a0b-58156a6c40ee.vsidx
.vs/Entanglement-Redux/v18/.suo
.vs/Entanglement-Redux/v18/DocumentLayout.json
Entanglement/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Entanglement/obj/Debug/Entanglement.csproj.AssemblyReference.cache
Entanglement/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Entanglement/obj/Debug/Entanglement.csproj.AssemblyReference.cache
/.vs
